{% extends "website/base.html" %}

{% block content %}
<div class="peoples">
    <div class="itemimage">
    <img src="/static/img/b1.jpeg"alt="people image">
    </div>
    <div class="peopledesignation">Chief Executive Officer</div>
    </div>
<div class="peoples">
    <div class="itemimage">
    <img src="/static/img/b2.jpeg"alt="people image">
    </div>
    <div class="peopledesignation">Chief sales Executive</div>
    </div>
<div class="peoples">
    <div class="itemimage">
    <img src="/static/img/b3.jpeg"alt="people image">
    </div>
    <div class="peopledesignation">Sales Executive</div>
    </div>
<div class="peoples">
    <div class="itemimage">
    <img src="/static/img/b4.jpeg"alt="people image">
    </div>
    <div class="peopledesignation">Sales Manager</div>
    </div>
<div class="peoples">
    <div class="itemimage">
    <img src="/static/img/b5.jpeg"alt="people image">
    </div>
    <div class="peopledesignation">Sales Manager</div>
    </div>
<div class="peoples">
    <div class="itemimage">
    <img src="/static/img/b6.jpeg"alt="people image">
    </div>
    <div class="peopledesignation">Assistant Manager</div>
    </div>
</div>
</html>
{% endblock  %}