{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c1.jpg" alt="product image">
            </div>
            <div class="itemname">4GB DDRA4 laptop memory</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c2.jpg"  alt="product image">
            </div>
            <div class="itemname">1TB Laptop HDD</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/c3.jpeg"  alt="product image">
            </div>
            <div class="itemname">Gaming laptop with Joystick</div>
            <div class="itemprice">Price: Rs.25000</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/c4.jpeg"  alt="product image">
            </div>
            <div class="itemname">Macbook air</div>
            <div class="itemprice">price: Rs.50000</div>
        </div>
         <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/c5.jpeg"  alt="product image">
            </div>
            <div class="itemname">Xiaomi Notebook 14</div>
            <div class="itemprice">price: Rs.70000</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/c6.jpeg"  alt="product image">
            </div>
            <div class="itemname">Laptop with 16 gb ram</div>
            <div class="itemprice">price: Rs.30000</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/c7.jpeg"  alt="product image">
            </div>
            <div class="itemname">Laptop with HD display</div>
            <div class="itemprice">price: Rs.50000</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/c8.jpeg"  alt="product image">
            </div>
            <div class="itemname">Laptop with A14 bionic chip</div>
            <div class="itemprice">price: Rs.50000</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/c9.jpeg"  alt="product image">
            </div>
            <div class="itemname">Laptop with durability</div>
            <div class="itemprice">price: Rs.20000</div>
        </div>
         <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/c10.jpeg"  alt="product image">
            </div>
            <div class="itemname">Best gaming laptop</div>
            <div class="itemprice">price: Rs.12000</div>
        </div>
         <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/c11.jpeg"  alt="product image">
            </div>
            <div class="itemname">Laptop With Intel Core Processor</div>
            <div class="itemprice">price: Rs.50000</div>
        </div>
         <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/c12.jpeg"  alt="product image">
            </div>
            <div class="itemname">Laptop with  A14 bionic chip and IOS</div>
            <div class="itemprice">price: Rs.50000</div>
         </div>
    </div>
    </div>
{% endblock  %}